.login {
  width: 100%;
  height: 100%;
  /*background-image: url('./images/login_bg.jpg');*/
  background-size: 100% 100%;
  background-color: rgb(248, 248, 248);
}

.login-form-forgot {
  float: right;
}

/* .login-header {
  height: 80px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  border-bottom: rgb(64, 169, 255) 0.5rem solid;
  padding: 5px 25px;
} */

.login-header {
  height: 120px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  justify-content: center;
}

html {
  background-color: rgb(248, 248, 248);

}

h1 {
  font-size: 30px;
  margin-bottom: 0px;
  color: white;
}

h2 {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

img {
  height: 40px;
  margin: 0 0 0.5em 0;
}

.login-form-button {
  width: 100%;
}

.login-form-forgot {
  float: left;
  font-size: 12px;

}

.login-content {
  width: 400px;
  height: auto;
  background-color: white;
  margin: 30px auto 30px;
  border: rgb(229, 229, 229) solid 0.1rem;
  padding: 40px 40px;
  box-shadow: 2px 2px 2px rgb(229, 229, 229);
}

.login-create-new-account {
  text-align: center;
}

.login-footer {
  position: absolute;
  bottom: 0;

}
